[Unit]
Description=Wake on WAN Server API
After=network.target

[Service]
User=root
WorkingDirectory=/opt/wake_on_wan_server
ExecStart=/usr/bin/python3 -m uvicorn main:app --host 0.0.0.0 --port 8000
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
